.week {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
}
.week__day {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  height: 60px;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: var(--week-day-background);
  color: #fff;
}
