.calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 60px;
  /* padding-top: 0; */
  min-height: 100vh;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.wrapper {
  /* max-width: 1320px; */
  /* min-height: 710px; */
}
